/* 
////////COLOR PALETTE/////// 

Main Color: #FF7F00
tint color: #fff2e6, #ffe5cc, #ffbf80, #e67200
#555
#333
*/

/*//////// Global Preset ////////*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/*//////// General Reusable Component ////////*/

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 32px;
}

.heading-secondary {
  font-size: 44px;
  line-height: 1.2;
  margin-bottom: 96px;
}

.heading-tertiary {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 32px;
}

.subheading {
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: #ff7f00;
  text-transform: uppercase;
  margin-bottom: 16px;
  letter-spacing: 0.75px;
}

.btn:link,
.btn:visited {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  padding: 16px 32px;
  border-radius: 9px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #ff7f00;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #e67200;
  color: #fff;
  box-shadow: 0 5px 3px 2px #ffbf80;
  position: relative;
  top: -5px;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
  box-shadow: inset 0 0 0 3px rgba(230, 115, 0, 0.25);
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fff2e6;
  color: #555;
  box-shadow: 0 5px 3px 2px #ffbf80;
  position: relative;
  top: -5px;
}

.margin-right-sm {
  margin-right: 16px !important;
}

.margin-bottom-md {
  margin-bottom: 48px !important;
}

.main-color {
  color: #ff7f00 !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

.grid {
  display: grid;
  column-gap: 64px;
  row-gap: 96px;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center {
  align-items: center;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}

/*//////// Header Navigation ////////*/

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff2e6;
}

.logo {
  height: 166px;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 42px;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e67200 !important;
}

/*//////// Hero Section ////////*/

.section-hero {
  /* height: 100vh; */
  background-color: #fff2e6;
  padding: 42px 0 96px 0;
}

.hero {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 36px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 96px;
}

.hero-description {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  margin-top: 64px;
  align-items: center;
  display: flex;
  gap: 16px;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-right: -16px;
  border: 3px solid #cfddcc;
}

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 18px;
  font-weight: 500;
}

.delivered-text span {
  color: #ff7f00;
  font-weight: 700;
}

/*//////// Partnership Section ////////*/

.section-partnership {
  padding: 48px 0;
}

.heading-partnership {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 32px;
  color: #333;
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos img {
  height: 92px;
}

.logos--last {
  justify-content: space-around;
  margin-top: 32px;
}

.logos--last img:first-child {
  height: 62px;
}

.logos--last img:nth-child(2) {
  height: 62px;
}

.logos--last img:last-child {
  height: 40px;
}

/*//////// How App Works ////////*/

.section-how {
  padding: 96px 0;
}

.step-img {
  width: 50%;
  border-radius: 24px;
}

.step-number {
  font-size: 86px;
  font-weight: 600;
  color: #ffbf80;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.head-how {
  margin-bottom: 32px !important;
}

.how-description {
  margin-bottom: 92px;
  font-size: 20px;
  line-height: 1.6;
}

.step-description {
  font-size: 18px;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  position: absolute;
}

.step-img-box::before {
  width: 100%;
  padding-bottom: 100%;
  background-color: #fff2e6;
  z-index: -2;
}

.step-img-box::after {
  width: 70%;
  padding-bottom: 70%;
  background-color: #ffe5cc;
  z-index: -1;
}

/*//////// Meals Section ////////*/

.section-meals {
  padding: 96px 0;
}

.meal {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px 0px;
  border-radius: 11px;
  overflow: hidden;
}

.meal-content {
  padding: 24px 48px 24px 48px;
}

.meal-title {
  font-size: 24px;
  color: #333;
  font-weight: 600;
  margin-bottom: 32px;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.meal-attribute {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.meal-attributes li:last-child {
  margin-bottom: 24px;
}

.meal-img {
  width: 100%;
}

.meal-icon {
  height: 24px;
  width: 24px;
  color: #ff7f00;
}

.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn--order:link,
.btn--order:visited {
  display: inline-block;
  color: #fff;
  background-color: #ff7f00;
  font-size: 20px;
  text-transform: uppercase;
  padding: 16px;
  border-radius: 9px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s;
}

.btn--order:hover,
.btn--order:active {
  background-color: #e67200;
}

.price {
  font-size: 20px;
}

.price span {
  color: #ff7f00;
  font-weight: 600;
}

.our-menu {
  text-align: center;
  font-size: 20px;
}

.link:link,
.link:visited {
  color: #ff7f00;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #e67200;
  border-bottom: 1px solid transparent;
}
