/* 
////////COLOR PALETTE/////// 

Main Color: #FF7F00
tint color: #fff2e6, #ffe5cc, #ffbf80, #ff9933, #e67200, #4c2600
#666
#555
#333
*/

/*//////// Global Preset ////////*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  scroll-behavior: smooth;
}

/*//////// General Reusable Component ////////*/

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 32px;
}

.heading-secondary {
  font-size: 44px;
  line-height: 1.2;
  margin-bottom: 96px;
}

.heading-tertiary {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 32px;
}

.subheading {
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: #ff7f00;
  text-transform: uppercase;
  margin-bottom: 16px;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  /* color: #fff; */
  font-size: 20px;
  padding: 16px 32px;
  border-radius: 9px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s;

  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn--full:link,
.btn--full:visited {
  background-color: #ff7f00;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #e67200;
  color: #fff;
  box-shadow: 0 5px 3px 2px #ffbf80;
  position: relative;
  top: -5px;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
  box-shadow: inset 0 0 0 3px rgba(230, 115, 0, 0.25);
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fff2e6;
  color: #555;
  box-shadow: 0 5px 3px 2px #ffbf80;
  position: relative;
  top: -5px;
}

.margin-right-sm {
  margin-right: 16px !important;
}

.margin-bottom-md {
  margin-bottom: 48px !important;
}

.main-color {
  color: #ff7f00 !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

.grid {
  display: grid;
  column-gap: 64px;
  row-gap: 96px;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center {
  align-items: center;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}
